/* src/Navbar.css */

/* Style de base pour la nav bar */
.admin-navbar {
  background-color: rgba(255, 255, 255, 0.8); /* Blanc avec opacité pour effet de flou */
  backdrop-filter: blur(10px); /* Effet de flou */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.admin-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.admin-navbar li {
  margin: 0 1rem;
}

.admin-navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Styles pour la version mobile */
.admin-navbar .menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.admin-navbar ul.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .admin-navbar ul.desktop-menu {
    display: none;
  }
  .admin-navbar .menu-toggle {
    display: block;
  }
  .admin-navbar ul.mobile-menu.show {
    display: flex;
  }
}

