.header {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(233, 228, 228, 0.705);
    border-radius: 20px;
    padding: 2%;
    box-shadow: 10px 5px 5px rgba(83, 83, 83, 0.705);
  }
  
  .header h1 {
    font-size: 3em;
  }
  
  .header h2 {
    font-size: 2em;
  }
  
  .header p {
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
  }
  